@using System.Security.Claims;
@using Domain.Entities.User;
@model Domain.Entities.User.ApplicationUser

<div id="singleUserinformation">
    @if (Model.HasProfilePicture())
    {
        <img class="img-rounded" src="@Model.ProfilPicture.Picture.PhotoString" />
    }
    else
    {
        <img class="img-rounded" src="~/images/anonim_men.jpg" />
    }
    <br />

    @Model.UserName <br />
    @Model.FirstName <br />
    @Model.LastName <br />

    @{
        RelationshipBetweenUsers relationshipBetweenUsers = Model.GetRelationshipWithUser(User.GetUserId());

        if (relationshipBetweenUsers == RelationshipBetweenUsers.NoRelationship)
        {
            <button type="button" onclick="SendInvitationToFriends('@Model.Id')">Zaproś do znajomych</button>
        }
        else if (relationshipBetweenUsers == RelationshipBetweenUsers.SendedInvitationToFriends)
        {
            <p>Wysłano zaproszenie</p>
        }
        else if (relationshipBetweenUsers == RelationshipBetweenUsers.ReceivedInvitationToFriends)
        {
            <p>Zaakceptuj zaproszenie</p>
        }
        else if (relationshipBetweenUsers == RelationshipBetweenUsers.Friends)
        {
            <p>Już jesteście znajomymi</p>
        }
    }
</div>